.banner{    
}
.banner-left-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    color: #333B69;
    font-weight: 700;
    line-height: 1.3;
    font-size: 40px;
}
.banner-subtitle{
    max-width: 400px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 47px;
    color: #6A798C;
}
.banner-right-column{
    background: url(../../assets/column-right.jpg);
    background-size: cover;
    height: 500px;
}
.banner-left-column, .banner-right-column{
    width:50%;
    padding: 180px 100px;
}
.banner-right-column img{
    max-width: 100%;
    
}
.banner-row{
    display: flex;
    position: relative;
}

.banner-newsletter{
    position: relative;
    bottom: 0px;
    width: 60%;
    margin: 0 auto;
}